.recipe {
    margin-top: 3rem;
  
    &__title {
      font-family: Georgia, serif;
      font-weight: 400;
      font-size: 2rem;
      line-height: 2.8125rem;
      letter-spacing: 0.03125rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  
    &__author {
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 0.25rem;
    }
  
    &__ingredients-title {
      font-family: Georgia, serif;
      font-weight: 700;
      font-size: 1.3125rem;
      line-height: 1.875rem;
      letter-spacing: 0.03125rem;
      margin-bottom: 1.75rem;
    }
  
    &__author,
    &__detail-title {
      font-family: Inter, sans-serif;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.875rem;
      letter-spacing: 0.03125rem;
    }
  
    &__image {
      width: 100%;
      height: auto;
      margin: 1.25rem 0;
    }
  
    &__details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  
    &__detail {
      display: flex;
      flex: 1;
      flex-direction: row;
      margin-right: 1.25rem;
  
      &-title {
        margin-top: 0;
        margin-bottom: 0.5rem;
      }
    }
  
    &__detail-info {
      font-family: Inter, sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.875rem;
      letter-spacing: 0.03125rem;
      margin-top: 0;
      margin-bottom: 0.5rem;
      margin-left: 0.625rem;
    }
  
    .detail-link {
      margin-left: 2.9375rem;
      color: black;
      text-decoration: none;
  
      a {
        color: black;
        text-decoration: underline;
      }
  
      a:visited {
        color: black;
        text-decoration: none;
      }
  
      a:hover {
        color: black;
        text-decoration: none;
      }
  
      a:active {
        color: black;
      }
    }
  
    &__rating {
      display: flex;
      align-items: center;
      margin-top: 0;
      padding-bottom: 0.5rem;
      margin-left: 2.75rem;
    }
  
    &__rating-number {
      margin-right: 0.3125rem;
    }
  
    &__star-icon {
      width: 1rem;
      height: 1rem;
      margin-right: 0.3125rem;
  
      &--inactive {
        filter: invert(80%);
      }
    }
  
    &__rating-count {
      margin-left: 0.3125rem;
    }
  
    &__actions {
      display: flex;
      align-items: center;
      margin-top: 1.75rem;
    }
  
    &__save-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5.86625rem;
      height: 2.5rem;
      border-radius: 1.25rem;
      border: 1px solid transparent;
      background-color: #df321b;
      color: white;
      font-family: Arial, sans-serif;
      font-weight: 700;
      font-size: 0.90625rem;
      line-height: 1rem;
      letter-spacing: 0.02rem;
      cursor: pointer;
  
      img {
        margin-right: 0.3125rem;
        filter: invert(100%);
      }
    }
  
    &__share-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 1.5rem;
      background: none;
      border: none;
      cursor: pointer;
    }
  
    &__ingredients {
      margin-top: 2.5rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  
    &__ingredients-list,
    &__preparation-step__text,
    &__yield,
    &__preparation-step {
      margin-top: 0.625rem;
      margin-bottom: 1.5rem;
      font-family: Inter, sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.875rem;
      letter-spacing: 0.03125rem;
      list-style: none;
      padding-left: 0;
      margin-left: 0;
    }
  
    &__preparation {
      margin-left: 1rem;
      margin-right: 1rem;
  
      &-title {
        font-family: Georgia, serif;
        font-weight: 700;
        font-size: 1.3125rem;
        line-height: 1.875rem;
        letter-spacing: 0.03125rem;
        margin-top: 3rem;
        margin-bottom: 2.375rem;
      }
  
      &-step {
        font-weight: 700;
        margin-bottom: 0;
      }
  
      &-step__text {
        margin-top: 0;
      }
    }
  }
  