* {
    box-sizing: border-box;
}

.homepage {
    padding: 1rem;
    height: 35.8rem;
    overflow-y: auto;

    &__title {
        font-style: italic;
    }

    &__image {
        width: 100%;
    }
}

.homepage::-webkit-scrollbar {
    display: none;
}
